/* Reset */

* {
  margin: 0;
  padding: 0;
  Font-size: 13px;
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

html, body {
  height: 100%;
  background: var(--light-gray);
}

/* Colors */

:root {
  /* Primary */
  --white: #ffffff;
  --moderate-violet: #7541c8;
  --very-dark-grayish-blue: #48556a;
  --very-dark-blackish-blue: #19212e;
  /* Neutral */
  --light-gray: #cfcfcf;
  --light-grayish-blue: #ecf2f8;
}

/* Content */

.content {
  height: 100%;
  padding: 5.5rem 8rem;
}

/* Testimonials container */

.testimonials-container {
  gap: 2rem;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(4, auto);
}

/* Testimonial card's */

.testimonial {
  padding: 1.5rem 2rem;
  overflow: hidden;
  border-radius: 1rem;
}

.person {
  display: flex;
  margin-bottom: 1rem;
}

.person img {
  width: 35px;
  border-radius: 50%;
}

.person div {
  margin-left: 1.5rem;
}

.person div h1 {
  font-size: 1.22rem;
  font-weight: bold;
}

.person div h2 {
  font-weight: lighter;
}

.phase {
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  margin-bottom: 1rem;
}

.testimonial p+p {
  font-size: 1rem;
  line-height: 1.3rem;
}

.quotation {
  top: 0;
  right: 80px;
  position: absolute;
}

/* Testimonial card's positions */

.testimonial:nth-child(1) {
  grid-row: 1 / 2;
  position: relative;
  grid-column: 1 / 3;
  background: var(--moderate-violet);
}

.testimonial:nth-child(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background: var(--very-dark-grayish-blue);
}

.testimonial:nth-child(3) {
  grid-column: 4 / 4;
  grid-row: 1 / 3;
  background: var(--white);
}

.testimonial:nth-child(4) {
  grid-column: 1 / 2;
  grid-row: 2 / 2;
  background: var(--white);
}

.testimonial:nth-child(5) {
  grid-column: 2 / 4;
  grid-row: 2 / 2;
  background: var(--very-dark-blackish-blue);
}